.active-nav {
    color: firebrick;
}

.nav-bar-box {
    background-color: #3b5998;
    padding: 20px;
    margin: 0;
    display: flex;

}

.navLink {
    color:whitesmoke;
    text-decoration: none;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar-home-img {
    width: 40px;
    height: 40px;
    background-color: transparent;
}
.nav-bar-mail-img {
    width: 40px;
    height: 40px;
    background-color: transparent;
}