button {
    cursor: pointer;
}

.notes-list-itmes {
    display: flex;
    list-style-type: none;

    flex-wrap: wrap;
}

textarea {
    resize: none;
    font-family: 'Roboto', sans-serif;

}


/* Todos */

.note-todos-box {
    width: 300px;
    height: 250px;
    background-color: #3b5998;
    margin: 20px;
    border-radius: 7px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.notes-todos-list {
    flex-grow: 2;
    padding: 10px;
    list-style-type: none;
}

.notes-todos-list li {
    flex-grow: 2;
    padding: 10px;
    
}

.note-todos-btns-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid #3b5998;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

/* images */

.note-img-box {
    width: 350px;
    height: 300px;
    background-color: #3b5998;
    margin: 20px;
    border-radius: 7px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.note-img-box p {
    margin: 5px;
}

.note-img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    flex-grow: 2;

}

.note-img-btns-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid #3b5998;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

/* Video */

.note-video-box {
    width: 350px;
    height: 300px;
    background-color: #3b5998;
    margin: 20px;
    border-radius: 7px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-video-btns-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid #3b5998;
    flex-grow: 2;
    width: 100%;
}

/* Text */

.note-txt-box {
    width: 300px;
    height: 250px;
    background-color: #3b5998;
    margin: 20px;
    border-radius: 7px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

}

.note-txt-value {
    flex-grow: 8;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    
}

.note-txt-value-txtarea {
    background-color: transparent;
    padding: 10px;
    border: none;
    color: whitesmoke;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    font-size: 18px;

}

.note-txt-value:active {
outline: none;
}
.note-txt-value:focus {
outline: none;
}

.note-txt-value-txtarea:active {
outline: none;
}
.note-txt-value-txtarea:focus {
outline: none;
}

.note-input-box {
    width: 600px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #3b5998;
    border-radius: 7px;
}

.note-input {
    width: 300px;
    padding: 15px;
    border: 1px solid #3b5998;
    border-radius: 7px;
    margin: 5px;
    border: none;
}

.note-input:focus {
    border: none;
    outline: none;
}

/* Buttons */

.note-btns-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid #3b5998;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.remove-btn {
    cursor: pointer;
    color: #3b5998;
    opacity: 0.5;
}

.remove-btn:hover {
    opacity: 1;

    animation: shake 0.5s;
  
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .pin-btn {
    cursor: pointer;
    color: #3b5998;
    opacity: 0.5;
  }

  .pin-btn:hover {
    opacity: 1;

    animation: shake 0.5s;
  
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.color-btn {
    cursor: pointer;
    margin: 2px;
    transition: 0.4s ease-in-out;
}

.color-btn:hover {
    transform: scale(1.2) ;

    animation: glow 0.3s;

    

}

@keyframes glow {
    0% {opacity: 1;}
    25% {opacity: 0.5;}
    50% {opacity: 1;}
    75% {opacity: 0.5;}
    100%{opacity: 1;}
}

.add-note-btn {
    margin: 10px;
    cursor: pointer;
    color: #3b5998;
}

.add-note-btn:hover {
    color: rgba(80, 78, 78, 0.726)
}




.bgc-red {
    background-color: tomato;
}

.bgc-green {
    background-color: rgb(68, 206, 142);
}

.bgc-blue {
    background-color: #3b5998;
}

.bgc-purple {
    background-color: rebeccapurple;
}

.red-circle {
    color: tomato;
}
.blue-circle {
    color: #3b5998;
}
.green-circle {
    color: rgb(68, 206, 142);
}
.purple-circle {
    color: rebeccapurple;
}



.done {
    text-decoration: line-through;
}