
button {
    cursor: pointer;
}

.notes-list-itmes {
    display: flex;
    list-style-type: none;

    flex-wrap: wrap;
}

.note-txt-box {
    width: 250px;
    height: 150px;
    background-color: #3b5998;
    margin: 20px;
    border-radius: 7px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;

}



.note-txt-value {
    flex-grow: 3;
    padding: 10px;
}

.note-txt-btns-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid #3b5998;
    flex-grow: 1;
}

.note-input-box {
    width: 200px;
    margin: 20px auto;
}

.note-input {
    padding: 15px;
    border: 1px solid #3b5998;
    border-radius: 7px;
    margin: 5px;
}

.note-input:focus {
    border: 1px solid #3b5998;
    outline: none;
}